body{
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: #333;
  grid-gap: 10px;
  color: #ddd;
  position: relative;
}

#navbar{
  padding: 10px;
}

#main-doc{
  padding: 10px;
  height: 600px;
  overflow: auto;
}

a{
  color:#fff;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
